[cerebrium.deployment]
name = "cipher-finetune-8b"
python_version = "3.10"
docker_base_image_url = "nvidia/cuda:12.1.1-runtime-ubuntu22.04"
include = ['main.py', 'cerebrium.toml']
exclude = ['.*']

[cerebrium.hardware]
region = "us-east-1"
compute = "AMPERE_A10"
cpu = 2 
memory = 24.0
gpu_count = 1

[cerebrium.scaling]
min_replicas = 0
max_replicas = 1
response_grace_period = 7200 # 2 hours

[cerebrium.dependencies.pip]
unsloth = "latest"
trl = "latest"
peft = "latest"
accelerate = "latest"
bitsandbytes = "latest"
datasets = "latest"
sentencepiece = "latest"